<section class="footer">
    <h2 class="visually-hidden">footer</h2>

    <ul>
        <li>
            <a href="">Cookies</a>
        </li>
        <li>
            <a href="">Privacy</a>
        </li>
        <li>
            <a href="">Disclaimer</a>
        </li>
        <li>
            <a href="">Algemene voorwaarden</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-onderwijs-cultuur-en-wetenschap">
                <img alt="Ministerie van OCW" loading="lazy" width="157" height="63" decoding="async" data-nimg="1" class="" style="color:transparent;object-position:50% 50%" srcset="https://cdn.sanity.io/images/y0okf1lj/production/cd39ab8feb1e9f0bebecab3e4c1342abb1c7e62e-157x63.svg?w=256&amp;auto=format 1x, https://cdn.sanity.io/images/y0okf1lj/production/cd39ab8feb1e9f0bebecab3e4c1342abb1c7e62e-157x63.svg?w=384&amp;auto=format 2x" src="https://cdn.sanity.io/images/y0okf1lj/production/cd39ab8feb1e9f0bebecab3e4c1342abb1c7e62e-157x63.svg?w=384&amp;auto=format">
            </a>
        </li>
        <li>
            <a href="https://www.vriendenloterij.nl/">
                <img alt="Vriendenloterij" loading="lazy" width="172" height="16" decoding="async" data-nimg="1" class="" style="color:transparent;object-position:50% 50%" srcset="https://cdn.sanity.io/images/y0okf1lj/production/8f445b34c73b772c6e780fe1eda41024c4a925aa-172x16.svg?w=256&amp;auto=format 1x, https://cdn.sanity.io/images/y0okf1lj/production/8f445b34c73b772c6e780fe1eda41024c4a925aa-172x16.svg?w=384&amp;auto=format 2x" src="https://cdn.sanity.io/images/y0okf1lj/production/8f445b34c73b772c6e780fe1eda41024c4a925aa-172x16.svg?w=384&amp;auto=format">
            </a>
        </li>
        <li>
            <a href="https://haarlem.nl/">
                <img alt="Gemeente Haarlem" loading="lazy" width="100" height="30" decoding="async" data-nimg="1" class="" style="color:transparent;object-position:50% 50%" srcset="https://cdn.sanity.io/images/y0okf1lj/production/7423aa88b2ad5d8bc859c98d1cf23aa54fbf1f7c-100x30.svg?w=128&amp;auto=format 1x, https://cdn.sanity.io/images/y0okf1lj/production/7423aa88b2ad5d8bc859c98d1cf23aa54fbf1f7c-100x30.svg?w=256&amp;auto=format 2x" src="https://cdn.sanity.io/images/y0okf1lj/production/7423aa88b2ad5d8bc859c98d1cf23aa54fbf1f7c-100x30.svg?w=256&amp;auto=format">
            </a>
        </li>
    </ul>
</section>