<header>
    <a href="/">
        <svg title="logo {{ exhibits.title }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 284 328"><g clip-path="url(#a)"><mask id="b" width="284" height="328" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:luminance"><path fill="#fff" d="M283.46 0H0v327.12h283.46V0Z"/></mask><g mask="url(#b)"><path fill="#F4ECDD" d="M283.46 0H0v327.12h283.46V0Z"/><path fill="#1A3038" d="m175.141 85.25 66.81 66.82V85.25h-66.81ZM41.508 152.07l66.82-66.82h-66.82v66.82ZM175.138 85.26h-66.81V285.7h66.81V85.26ZM49.998 49.76h-8.49v-8.49h25.71v8.49h-8.48v22.96h-8.74V49.76ZM71.95 41.27h23.47v7.74H80.69V53h13.48v7.49H80.69v4.5h15.23v7.73H71.95V41.27ZM109.529 61.24l-10.74-19.97h9.49l5.49 11.23h.25l5.49-11.23h9.49l-10.73 19.97v11.48h-8.74V61.24ZM132.281 41.27h8.74v22.97h13.73v8.48h-22.47V41.27ZM158.992 41.27h23.47v7.74h-14.73V53h13.48v7.49h-13.48v4.5h15.22v7.73h-23.96V41.27Z"/><mask id="c" width="284" height="328" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:luminance"><path fill="#F4ECDD" d="M283.46 0H0v327.12h283.46V0Z"/></mask><g fill="#1A3038" mask="url(#c)"><path d="M201.691 54.75c1 0 1.79-.27 2.37-.8.58-.53.88-1.18.88-1.95s-.29-1.42-.88-1.95c-.58-.53-1.37-.8-2.37-.8h-4.49v5.49h4.49v.01Zm-13.23-13.48h13.73c1.73 0 3.32.27 4.77.82 1.45.55 2.69 1.32 3.72 2.3 1.03.98 1.83 2.12 2.4 3.42.56 1.3.85 2.69.85 4.19 0 1.6-.29 2.94-.87 4.02-.58 1.08-1.21 1.97-1.87 2.67-.83.83-1.75 1.51-2.74 2.05l6.99 11.98h-9.73c-.46-.83-.99-1.81-1.57-2.94-.58-1.13-1.15-2.23-1.72-3.3-.63-1.23-1.28-2.48-1.95-3.74h-3.25v9.99h-8.74V41.28l-.02-.01ZM230.152 73.22c-1.93 0-3.67-.27-5.22-.82-1.55-.55-2.86-1.31-3.92-2.3-1.06-.98-1.89-2.12-2.47-3.42-.58-1.3-.87-2.7-.87-4.19l8.49-.75c0 1 .33 1.83 1 2.5.67.67 1.5 1 2.5 1 1.13 0 1.95-.25 2.47-.75.51-.5.77-1 .77-1.5 0-.63-.37-1.13-1.1-1.5-.73-.37-1.64-.72-2.72-1.07-1.08-.35-2.26-.75-3.54-1.2-1.28-.45-2.46-1.05-3.55-1.8a9.575 9.575 0 0 1-2.72-2.9c-.73-1.18-1.1-2.69-1.1-4.52 0-1.23.26-2.41.78-3.54.51-1.13 1.26-2.11 2.24-2.95.98-.84 2.19-1.5 3.62-2 1.43-.5 3.04-.75 4.84-.75 1.8 0 3.55.27 5.07.82 1.51.55 2.8 1.3 3.87 2.25 1.07.95 1.88 2.06 2.45 3.35a9.9 9.9 0 0 1 .85 4.07l-8.49.75c0-1-.32-1.79-.97-2.37a3.31 3.31 0 0 0-2.27-.87c-.77 0-1.37.21-1.82.62-.45.42-.68.87-.68 1.37 0 .63.36 1.12 1.1 1.47.73.35 1.64.69 2.72 1.02 1.08.33 2.26.71 3.55 1.12 1.28.42 2.46 1 3.55 1.75 1.08.75 1.99 1.71 2.72 2.87.73 1.17 1.1 2.66 1.1 4.49 0 1.27-.28 2.48-.85 3.64-.57 1.17-1.38 2.2-2.45 3.09-1.07.9-2.35 1.62-3.87 2.17-1.51.55-3.2.82-5.07.82"/></g></g></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h284v328H0z"/></clipPath></defs></svg>
    </a>

    <div class="header-items-wrapper">
        <a href="">
            <svg title="zoeken" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32" class="aspect-square w-[var(--mp-icon-button--icon-size)] lg:w-[var(--mp-icon-button--icon-size--desktop)] scale-[var(--mp-icon-button--icon-scale--default)] group-hover:scale-[var(--mp-icon-button--icon-scale--hover)] group-disabled:scale-[var(--mp-icon-button--icon-scale--disabled)] transition-transform ease-out duration-short"><path fill="currentColor" d="M9.664 1.85a14.44 14.44 0 0 1 17.021 22.076l5.494 5.493a1.951 1.951 0 1 1-2.76 2.76l-5.493-5.494A14.44 14.44 0 1 1 9.664 1.85Zm5.525 2.802a10.537 10.537 0 1 0 0 21.074 10.537 10.537 0 0 0 0-21.074Z"></path></svg>
        </a>

        <details>
            <summary>
                NL
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path fill="currentColor" d="m0 9.543 3.053-3.086L16 19.52 28.93 6.457 32 9.543l-16 16-16-16Z"></path></svg>
            </summary>
            <a href="">Nederlands</a>
            <a href="">Engels</a>
        </details>

        <button class="primary-button-styled">Boek ticket</button>
        
        <a class="menu-wrapper">
            <svg width="30" height="12" viewBox="0 0 30 12" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="1" x2="30" y2="1" stroke="#F4ECDD" stroke-width="2"/>
                <line y1="6" x2="30" y2="6" stroke="#F4ECDD" stroke-width="2"/>
                <line y1="11" x2="30" y2="11" stroke="#F4ECDD" stroke-width="2"/>
            </svg>
            <p>MENU</p>
        </a>
    </div>
</header>