{%  render 'partials/head.liquid', exhibits: exhibits %}

{%  render 'partials/header.liquid' %}

<main>
    {%  render 'partials/detail.liquid', exhibits: exhibits, persons: persons %}

    {%  render 'partials/timeline.liquid', sections: sections %}
</main>

<footer>
    {% render 'partials/contact.liquid' %}
    
    {% render 'partials/footer.liquid' %}
</footer>
{%  render 'partials/foot.liquid' %}