{%  render 'partials/head.liquid' %}

{%  render 'partials/header.liquid' %}

<main>
    {%  render 'partials/detail.liquid', exhibits: exhibits, persons: persons %}

    {%  render 'partials/timeline.liquid', sections: sections %}
</main>

{%  render 'partials/foot.liquid' %}